
<!DOCTYPE html><html lang="en"><head><meta charset="UTF-8"><meta name="viewport" content="width=device-width"><title>Generator-Express MVC</title><link rel="stylesheet" href="/css/style.css"></head><body><h1>Generator-Express MVC</h1><p>Welcome to Generator-Express sssMVC</p></body></html>